 .nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  outline-color: blue;
  display: inline;
  text-transform: uppercase;
}
.introduction {
  margin: 10px 0;
  padding: 14px
}

.updates-news {
  margin: 10px 0;
  padding: 14px
}

.jumbotron {
  background-image:url('http://www.cam-ceeds.org/ckfinder/userfiles/images/about_us.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.research-details a {
  color: blue;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
}
.press_coverage a {
 color: blue;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;

}
.jumbotron .container {
  position: relative;
  top:1px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}